.btn-square {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #d88ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #ef7295;
    border-radius: 3px;
}
.btn-square:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}
.btn-flat-border {
    display: inline-block;
    height: 40px;
    width: 300px;
    margin: 0.4em;
    padding: 0.3em 1em;
    text-align: center;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}
.btn-flat-border:hover {
    background: #67c5ff;
    color: white;
    animation-duration: 0ms;
}
.message {
    text-align: center;
}